<!DOCTYPE html>
<html>
  <head>
    <script data-require="jquery@*" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

   <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script data-require="bootstrap@3.3.2" data-semver="3.3.2" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script data-require="angular.js@1.4.1" data-semver="1.4.1" src="https://code.angularjs.org/1.4.1/angular.js"></script>
      <link rel="stylesheet" href="style.css" />
      <script src="script.js"></script>
    </head>
  <body ng-app="gh-app">
    <div class="container">

    <div ng-controller="GHCtrl">
      <h3>Github Profiler</h3>
      <input ng-model="username" type="text" /><button type="submit" ng-click="searchUser(username)">Search for User </button>
      <ul class="card" ng-repeat="user in users track by $index">

        <img ng-src="{{user.avatar_url}}" />
              <div class="card-heading">
                {{user.login}}
          </div>
          <ul class="card-detail">
            <li>{{user.html_url}}</li>
            <li>{{user.repos_url}}</li>
            <li>{{user.public_repos}}</li>
          </ul>
        

      </ul>
    </div>
    </div><!-- end controller -->
    </div><!-- end container -->
  </body>

</html>
